@font-face {
    font-family: "Montserrat";
    src: url(src/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url(src/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url(src/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url(src/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url(src/fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}

/*GENERAL SELECTORS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
.contentWidth {
    padding: 0 21% 0 21%;
}
.btn {
    width: 20rem;
    height: 4.5rem;
    border: none;
    border-radius: 3rem;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    font: 500 1.6rem "Montserrat", sans-serif;
    color: #FFFFFF;
}
.btn:hover {
    cursor: pointer;
    background: #254b96;
}
.title-m {
    font: 700 3.6rem/5.3rem "Montserrat", sans-serif;
    color: #323232;
}
.title-s {
    font: 600 1.8rem/2.2rem "Montserrat", sans-serif;
    color: #000000;
}
.text-m {
    font: 400 1.6rem/2.5rem "Montserrat", sans-serif;
    color: #999999;
}
.text-s {
    font: 400 1.4rem/2.2rem "Montserrat", sans-serif;
    color: #999999;
}

/*HEADER*/

.firstScreen {
    background-image: url(src/images/firstScreen.png);
    background-size: cover;
}
.header {
   display: flex;
   justify-content: flex-end;
   position: absolute;
   z-index: 1;
   width: 100%;
}
.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.nav__link {
    display: block;
    padding: 4rem 2rem 4rem 2rem;
    font: 500 1.6rem "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
}
.nav__link:hover {
    border-bottom: 2px solid #FFFFFF;
}
.separator {
    display: block;
    position: absolute;
    top: 9.9rem;
    width: 100%;
    border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

 /*INTRODUCTION*/

 .introduction {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 32rem;
     padding-bottom: 33.5rem;
 }
 .introduction__text {
    margin-bottom: 2rem;
    font: 500 1.6rem "Montserrat", sans-serif;
    color: #FFFFFF;
 }
 .introduction__title {
    margin-bottom: 5rem;
    font: 800 4.8rem "Montserrat", sans-serif;
    line-height: 6.4rem;
    text-align: center;
    color: #FFFFFF;
 }

 /*SERVICES*/

 .services {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 11rem;
     padding-bottom: 10.5rem;
 }
 .services__title {
     margin-bottom: 5rem;
     text-align: center;
 }
 .services__information {
    margin-bottom: 7rem;
    text-align: center;
}
.services__serviceContainer {
    margin-bottom: 5.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
}
 .services__serviceItem {
     min-height: 110px;
     padding-left: 127px;
     padding-top: 4.5rem;
     background: url(src/icons/service-icon.png) left top no-repeat;
 }
.services__serviceTitle {
    margin-bottom: 1.2rem;
}

/*ABOUT COMPANY*/

.aboutCompany {
    padding-top: 10rem;
    padding-bottom: 7rem;
    background: #F6F6F8;
}
.aboutCompany__contentWrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 9rem;
    border-bottom: 1px solid #E0E0E0;
}
.aboutCompany__content {
    max-width: 50rem;
}
.aboutCompany__title {
    padding-top: 5.5rem;
    margin-bottom: 4rem;
}
.aboutCompany__info {
    margin-bottom: 3rem;
}
.aboutCompany__link {
    font: 500 1.6rem "Montserrat", sans-serif;
    color: #4985FF;
}
.aboutCompany__link:hover {
    color: #1049bb;
}
.aboutCompany__image {
    display: block;
    width: 45%;
    height: 36%;
}
.aboutCompany__statistics {
    padding: 7rem 0;
    display: flex;
    justify-content: space-around;
}
.aboutCompany__statisticsItem { 
   min-width: 10.4rem;
}
.aboutCompany__statisticsImg {
    float: left;
    padding-right: 2rem;
}
.aboutCompany__statisticsNumber {
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1.7rem;
}

/*WORKS*/

.works {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 8.5rem;
    background: url(src/images/background.png) no-repeat;
    background-size: 100% 50%;
}
.works__title {
    margin-bottom: 7rem;
    max-width: 54rem;
    color: #FFFFFF;
}
.works__workWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    padding-bottom: 8.5rem;
    border-bottom: 1px solid #E0E0E0;
}
.works__workImage {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}
.works__workTitle {
    margin-bottom: 3rem;
}
.work__titleNumber {
    color: #4985FF;
}
.works__workInfo {
    margin-bottom: 3rem;
}
.works__link {
    font: 500 1.6rem "Montserrat", sans-serif;
    color: #4985FF;
}
.works__link:hover {
    color: #1049bb;
}
.works__btn {
    position: absolute;
    right: 21%;
    top: 12rem;
}

/*PROJECTS*/

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 13rem;
    background: #F6F6F8;
}
.projects__title {
    margin-bottom: 5rem;
}
.projects__info {
    margin-bottom: 7rem;
    text-align: center;
}
.projects__gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.projects__galleryItem {
    width: 23%;
    height: auto;
}

/*GET MORE*/

.getMore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 8.5rem;
    background: url(src/images/getMore_background.png) no-repeat;
    background-size: 100% 50%;
}
.getMore__title {
    margin-bottom: 3rem;
    color: #FFFFFF;
}
.getMore__info {
    margin-bottom: 7rem;
    color: #FFFFFF; 
}
.getMore__video {
    margin-bottom: 8.5rem;
    padding: 0 7rem 8.5rem 7rem;
    border-bottom: 1px solid #E0E0E0;
}
.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscribe__title {
    margin-bottom: 2rem;
}
.subscribe__info {
    margin-bottom: 3rem;
}
.subscribe__inputWrapper {
    display: flex;
    margin-bottom: 3.5rem;
    width: 49rem;
    border: none;
    border-radius: 3rem;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}
.subscribe__input {
    width: 30rem;
    height: 4.5rem;
    padding: 1.5rem 1rem 1.3rem 3.3rem;
    font: 400 1.3rem "Montserrat", sans-serif;
    border: none;
    border-radius: 3rem 0 0 3rem;
}
.subscribe__btn {
    width: 19rem;
    border-radius: 0 3rem 3rem 0;
}
.subscribe__input:focus {
    outline: none;
}
.subscribe__extraInfo {
    font-size: 1.3rem;
}

/*FOOTER*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background: #F6F6F8;
}
.footer__additionals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    padding-bottom: 7rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #E0E0E0;
}
.footer__title {
    margin-bottom: 3.5rem;
    min-height: 4.4rem;
}
.footer__listItem {
    margin-bottom: 3rem;
    padding-left: 1rem;
    list-style-type: none;
    list-style-image: url(src/icons/right-arrow.png);
}
.footer__link {
    text-decoration: none;
    line-height: 1;
}
.footer__link:hover {
    text-decoration: underline;
}
.mail {
    list-style-image: url(src/icons/envelope.png);
}
.tel {
    list-style-image: url(src/icons/Group.png);
}
.adress {
    list-style-image: url(src/icons/placeholder.png);
}
@media (min-width: 768px) and (max-width: 1200px) {
    .services__serviceContainer {
        margin-bottom: 5.5rem;
        display: flex;
        flex-wrap: wrap;
    }
    .services__serviceItem {
       margin-bottom: 3rem;
    }
    .aboutCompany__contentWrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .aboutCompany__content {
        max-width: 100%;
    }
    .aboutCompany__image {
        width: auto;
        height: auto;
    }
    .works {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .works__workWrapper {
        margin-bottom: 5rem;
    }
    .works__btn {
        position: static;
    }
    .aboutCompany__statistics {
        padding: 7rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 5rem;
}
    .works__workWrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 5rem;
}
.getMore {
    background-size: auto 50%;
}
}
@media(max-width: 767px) {
    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav__link {
        padding: 0.5rem;
    }
    .header {
        justify-content: flex-start;
    }
    .separator {
        display: none;
    }
    /* .contentWidth {
        padding: 0 10% 0 10%;
    } */
    .title-m {
        font: 600 2rem/1 "Montserrat", sans-serif;
        color: #323232;
    }
    .title-s {
        font: 500 1.3rem/1.2 "Montserrat", sans-serif;
        color: #000000;
    }
    .text-m {
        font: 400 1.3rem/1.2 "Montserrat", sans-serif;
        color: #999999;
    }
    .text-s {
        font: 400 1.3rem/1.2 "Montserrat", sans-serif;
        color: #999999;
    }
    .services__serviceContainer {
        margin-bottom: 5.5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 3rem;
    }
    .services__serviceItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-top: 127px;
        background: url(src/icons/service-icon.png) center top no-repeat;
}
.aboutCompany__image {
    display: none;
}
.aboutCompany__statistics {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 3rem;
        grid-column-gap: 3rem;
}
.works {
    display: flex;
    flex-direction: column;
    background: none;
}
.works__title {
    color: white;
}
.works__btn {
    position: static;
}
.works__workWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 5rem;
    margin-bottom: 3rem;
}
.projects__gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.projects__galleryItem {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
.getMore {
    background: white;
}
.subscribe__inputWrapper {
    width: auto;
}
.subscribe__input {
    display: none;
}
.footer__additionals {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0rem;
    margin-bottom: 3rem;
    grid-row-gap: 4rem;
}
.footer__listItem {
    margin-bottom: 1rem;
}
.footer__title {
    margin-bottom: 0rem;
}
}